<%= turbo_frame_tag "tutorial_step" do %>
  <div class="py-4 place-items-center">
    <div class="bg-neutral py-5 px-10 place-items-center rounded-2xl">
      <h3 class="text-lg font-bold">① 見たままを言葉にする</h3>
      <%= image_tag 'DT_howto01.png', alt: 'howto01', class: 'w-[150px] h-auto rounded-2xl' %>
      <div class="pt-4 text-sm text-base-content/70">
        <p>ランダムに表示される画像を</p>
        <p>自分の言葉でAIに説明しよう！</p>
      </div>
    </div>
    <div class="flex items-center justify-center gap-2 pt-10">
      <span class="h-3 w-3 rounded-full bg-primary"></span>
      <span class="h-3 w-3 rounded-full bg-base-300"></span>
      <span class="h-3 w-3 rounded-full bg-base-300"></span>
    </div>

    <div class="modal-action justify-center">
      <%= link_to "つぎへ", tutorial_step_path(step: 2), class: "btn btn-primary w-70 h-12 rounded-2xl" %>
    </div>
  </div>
<% end %>