<%= turbo_frame_tag "tutorial_step" do %>
  <div class="mt-2 grid place-items-center text-center bg-base-200 p-3 rounded-2xl"
    <h3 class="text-lg font-bold">① 見たままを言葉にする</h3>
    <%= image_tag 'DT_howto01.png', alt: 'howto01', class: 'w-[150px] h-auto rounded-2xl' %>
    <div class="pt-4 text-sm text-base-content/70">
      <p>ランダムに表示される画像を</p>
      <p>自分の言葉でAIに説明しよう！</p>
    </div>
  </div>
<% end %>