<%= turbo_frame_tag "tutorial_step" do %>
  <div class="py-4 place-items-center text-center">
    <div class="bg-neutral py-5 px-10 rounded-2xl">
      <h3 class="text-lg font-bold">② AIがイメージして採点</h3>
      <%= image_tag 'DT_howto02.png', alt: 'howto01', class: 'w-[150px] h-auto rounded-2xl' %>
      <div class="pt-4 text-sm text-base-content/70">
        <p>あなたの説明をAIが絵にする。</p>
        <p>シンクロ率を判定！</p>
      </div>
    </div>
  </div>
<% end %>