<header class="navbar bg-base-100 p-2">
    <!-- ページごとに書き換わるエリア -->
    <% if content_for?(:header_content) %>
        <%= yield :header_content %>
    <% else %>
        <!-- どのページでも設定されていない場合のデフォルト表示 -->
        <div 
                class="bg-primary w-11 h-11" 
                style="
                    -webkit-mask-image: url('<%= asset_path("DT_logo.png") %>');
                    mask-image: url('<%= asset_path("DT_logo.png") %>');
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                "
                ></div>
    <% end %>
</header>