<%= turbo_stream.append "chat_messages_container" do %>
    <!-- # message.from_user? が true なら自分 (右側) 、false ならアプリ側 (左側) -->
    <div class="chat <%= game.from_user? ? 'chat-end' : 'chat-start' %>">
        
        <div class="chat-bubble <%= game.from_user? ? 'chat-bubble-primary' : 'bg-base-100 text-base-content' %>">
            <%= game.description %>
        </div>
        
    </div>
<% end %>