<!-- ヘッダーの内容変更 -->
<% provide(:header_content) do %>
    <div class="flex items-end gap-0">
        <p class="text-2xl font-normal opacity-75">採点結果</p>
    </div>
<% end %>

<div 
  data-controller="score-polling"
  data-score-polling-url-value="<%= check_score_game_path(@game) %>"
  data-score-polling-max-attempts-value="60"
  data-score-polling-interval-value="2000"
>
  <div id="resulting_score">
      <div class="splash-overlay">
        <div class="hero-content text-center">
          <div class="grid place-items-center text-center w-full">
            <p class="text-2xl">
              採点中
            </p>
            <div class="text-xm my-5">
              <span class="loading loading-spinner loading-md"></span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- フッターの内容変更 -->
<% provide(:footer_content) do %>
    <!-- 空欄 -->
<% end %>