<!-- ヘッダーの内容変更 -->
<% provide(:header_content) do %>
    <%= link_to "＜", new_game_path, class: "text-2xl font-bold" %>
<% end %>


<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-md grid place-items-center gap-3">
            <img
            id="gacha-image"
            src="<%= @game.theme_image_url %>"
            alt="お題イメージ"
            class="rounded-4xl">        
            <div class="w-full h-auto aspect-[800/600] bg-gray-900 object-cover rounded-4xl">
                <% if @game.generated_image.attatched? %>
                    <img
                    id="gacha-image"
                    src="<%= @game.generated_image %>"
                    alt="生成イメージ"
                    class="rounded-4xl">
                <% end %>
            </div>
        </div>
    </div>
</div>


<!-- フッターの内容変更 -->
<% provide(:footer_content) do %>
    <p></p>
<% end %>