<!-- ヘッダーの内容変更（プロフィール表示の時） -->
<% provide(:header_content) do %>
    <div class="flex items-end gap-0">
        <p class="text-5xl">🕵️‍♂️</p>
        <p class="text-2xl font-bold">ゲスト</p>
    </div>
<% end %>


<div class ="bg-base-200 w-full pt-5 pb-98">
    <div class ="max-w-4xl mx-auto pb-6 px-5">
        <p class="text-2xl font-bold">ドキュメント</p>
        <div class="text-xm flex flex-col gap-3 pt-5">
            <div class="text-xm flex gap-2">
                <p>📄</p><p>利用規約</p>
            </div>
            <div class="text-xm flex gap-2">
                <p>🛡️</p><p>プライバシーポリシー</p>
            </div>
        </div>
    </div>
</div>


