<div class="hero bg-base-200 items-start pt-10">
  <div class="hero-content text-center ">
    <div class="max-w-md grid place-items-center">
      <%= link_to image_tag("DT_title.png", alt: "Describe this", class: "w-70 h-auto"), root_path%>
      <p class="py-6">
        説明する練習が楽しく続く
      </p>
      <div class="text-xs pb-10">
        <p class="py-1">あなたの言葉で</p>
        <p class="py-1">AIがお題のイメージを想像 </p>
        <p class="py-1">正確に伝えられるかな？</p>
      </div>
      <div class="text-xm py-5">
        <p class="">「伝わらない」を「伝わる」の自信に。</p>
        <p class="">ステキな表現を探す旅へ。</p>
      </div>
      <div class="pt-25 pb-7">
        <button class="btn btn-lg btn-primary w-70 h-12 rounded-2xl">はじめる</button>
      </div>
    </div>

    <!-- 遊び方モーダルの内容 -->
    <div data-controller="splash-modal">

      <dialog data-splash-modal-target="dialog" class="modal">
        <div class="modal-box max-w-md text-center rounded-2xl">
          <div class="text-3xl">遊び方</div>
          <%= turbo_frame_tag "tutorial_step" do %>
            <%= render "shared/splash_modal/modal_01" %>
          <% end %>

        </div>
        
        <!-- 背景をクリックしても閉じられるようにする設定（不要なら削除OK） -->
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>

    </div>
  </div>
</div>
