<header class="navbar">
    <!-- ページごとに書き換わるエリア -->
    <div class="navbar-start p-4">
        <% if content_for?(:header_actions) %>
            <%= yield :header_actions %>
        <% else %>
            <!-- どのページでも設定されていない場合のデフォルト表示 -->
            <%= link_to image_tag("DT_title.png", alt: "Describe this", class: "w-48 h-auto"), root_path, id: "title"%>
        <% end %>
    </div>
</header>